@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato";
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}
.header__list .header__item {
  margin-right: 82px;
}
.header__list .header__item:hover, .header__list .header__item:focus, .header__list .header__item:active {
  opacity: 0.75;
}
.header__list .header__item:last-child {
  margin-right: 0;
}
.header__list .header__item .header__link {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.intro {
  height: 100vh;
  background: url(/img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
}
.intro__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}
.intro__subtitle {
  margin-bottom: 59px;
  max-width: 546px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url(/img/circle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}
.search-form__field::-webkit-input-placeholder {
  opacity: 1;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}
.search-form__field::-moz-placeholder {
  opacity: 1;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}
.search-form__field:-ms-input-placeholder {
  opacity: 1;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}
.search-form__field::-ms-input-placeholder {
  opacity: 1;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}
.search-form__field::placeholder {
  opacity: 1;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background: #1b7dff;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background: #0f61cb;
}
