@import "_nullstyle";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
  font-family: "Lato";
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  &__wrapper {
    display: flex;
    flex: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
  }
  &__list {
    display: flex;
    flex: wrap;
  }
  &__item {
    margin-right: 82px;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.75;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.intro {
  height: 100vh;
  background: url(/img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  &__title {
    max-width: 619px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
  }
  &__subtitle {
    margin-bottom: 59px;
    max-width: 546px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
  }
}

.search-form {
  &__info {
    display: flex;
    flex-wrap: wrap;
  }
  &__field {
    width: 297px;
    background: transparent url(/img/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border-bottom: 2px solid #bfc0c5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    &::placeholder {
      opacity: 1;
      font-weight: 700;
      line-height: 24px;
      font-size: 18px;
      color: #fff;
    }
  }
  &__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    background: #1b7dff;
    &:hover,
    &:focus,
    &:active {
      background: #0f61cb;
    }
  }
}

.benefits {
  margin-bottom: 131px;
  &__wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    position: relative;
  }

  &__title {
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
  }

  &__card {
    grid-column: span 1;
    margin-bottom: 112px;
  }

  &__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
  }

  &__card-thumb {
    display: block;
  }

  &__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  &__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
    padding-right: 5px;
  }

  &__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    background: url(/img/arrow-icon.svg) no-repeat 95% center;
    transition: 0.2s all;
    &:hover,
    &:focus {
      background: url(/img/arrow-icon.svg) no-repeat right center;
    }
  }
}
