@import "_nullstyle";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
  font-family: "Lato";
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  transition: 0.3s linear;
  padding-bottom: 25px;
  z-index: 100;
  &_active {
    background: #0e1d28;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 82px;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.75;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  padding: 5px;
  position: relative;
}
.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  &_first {
    top: 0;
  }
  &_second {
    top: 50%;
    transform: translateY(-50%);
  }
  &_third {
    bottom: 0;
  }
}

.intro {
  height: 100vh;
  background: url(/img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
  &__title {
    max-width: 619px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
  }
  &__subtitle {
    margin-bottom: 59px;
    max-width: 546px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
  }
}

.search-form {
  &__info {
    display: flex;
    flex-wrap: wrap;
  }
  &__field {
    width: 297px;
    background: transparent url(/img/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border-bottom: 2px solid #bfc0c5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    &::placeholder {
      opacity: 1;
      font-weight: 700;
      line-height: 24px;
      font-size: 18px;
      color: #fff;
    }
  }
  &__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    background: #1b7dff;
    &:hover,
    &:focus,
    &:active {
      background: #0f61cb;
    }
  }
}

.benefits {
  margin-bottom: 131px;
  &__wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    position: relative;
  }

  &__title {
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
    color: #102746;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
  }

  &__card {
    grid-column: span 1;
    margin-bottom: 112px;
  }

  &__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
  }

  &__card-thumb {
    display: block;
  }

  &__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  &__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
    padding-right: 5px;
  }

  &__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    background: url(/img/arrow-icon.svg) no-repeat 95% center;
    transition: 0.2s all;
    &:hover,
    &:focus {
      background: url(/img/arrow-icon.svg) no-repeat right center;
    }
  }
}

%tpl__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 10px;
  position: relative;
  color: #102746;
  &::after {
    content: "";
    display: block;
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.places {
  margin-bottom: 131px;
  &__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  &__title {
    @extend %tpl__title;
    margin-right: 15px;
  }
  &__view-all {
    font-size: 16px;
    color: #006dfe;
    padding-right: 59px;
    background: url(/img/arrow-icon.svg) no-repeat right center;
    &:hover,
    &:focus {
      opacity: 0.65;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
  &__card {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(21, 24, 36, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &:hover .places__card-pic {
      transform: scale(1.05);
    }
  }

  &__card-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
  }
  &__card-size-large {
    grid-column: span 3;
  }
  &__card-size-small {
    grid-column: span 2;
  }
  &__card-pic {
    width: 100%;
    transition: 0.15s all;
  }
  &__card-pic-size-large {
    height: 354px;
    object-fit: cover;
  }
  &__card-pic-size-small {
    height: 283px;
    object-fit: cover;
  }
  &__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
}

.tours {
  margin-bottom: 139px;
  color: #102746;
  &__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
  }
}
.tour {
  &__info {
    padding-left: 47px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
  }

  &__more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    background: url(/img/arrow-icon.svg) no-repeat 95% center;
    transition: 0.2s all;
    &:hover,
    &:focus {
      background: url(/img/arrow-icon.svg) no-repeat right center;
    }
  }
}

.top {
  margin-bottom: 86px;
  &__title {
    @extend %tpl__title;
    margin-bottom: 54px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
  }
  &__card {
    display: flex;
    flex-direction: column;
  }
  &__card-pic {
    position: relative;
    margin-bottom: 45px;
  }
  &__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
  }
  &__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
  }
  &__card-likes {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url(/img/heart-icon.svg) no-repeat right;
    margin-right: 14px;
  }
  &__card-comments {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(/img/comment-icon.svg) no-repeat right;
  }
  &__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
  }
  &__card-more {
    width: 118px;
    padding: 12px 19px;
    background: #006dfe;
    color: #fff;
    font-size: 16px;
    margin: auto 0 0 0;
    &:hover,
    &:focus,
    &:active {
      background: #0f61cb;
    }
  }
}

.videos {
  width: 100%;
  &__wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__item {
    padding-top: 56.25%;
  }
  &__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footer {
  background: #0e1d28;
  padding: 119px 0;
  &__item {
    display: flex;
    flex-wrap: wrap;
  }
  &__logo {
    width: 50%;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
  }
  &__menu-title {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  &__menu-link {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.75;
    }
  }
}

//Media start
@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.3s all linear;
    &_active {
      transform: translateX(0);
    }
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .header__link {
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
    &-line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      &:first-child {
        transform: translateY(-50%) rotate(45deg);
      }
      &:last-child {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}
//Media end
